@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');


.wallet-container{
    display: flex;
    background-color: #a7d3f1;
  
   
}
.main-container{
   
    padding: 30px;
    width: 80%;
    margin-left: 50px;
}
.sidebar{
    background-color: #fff;
    padding: 30px;
    height:100%;
}

.top-container button{
    border-radius: 5px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.purchase-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.purchase-row p{
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

.crypto-purchase img{
    width: 100%;
    height: auto;
}
.Assets-record{
   margin:40px 0;
}
.Assets-record-header{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 600px) {
    h1{
        font-size: 23px;
    }
    
    .cont-add {
       font-size: 18px;
    }

    tr{
        font-size: 10px;
    }
    
input {
    display: block;
    margin: 0 auto;
    background: none;
    border: 2px solid #3498db;
    padding: 8px 10px;
    width: 200px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
}

    input:focus {

        width: 225px;
        border-color: #2ecc71;
    }

}